body {
    font-weight: 400;
    font-style: Regular;
    color: #000;
    background-color: #fff;
}

.header {
    margin-bottom: 0;
    min-height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}
.cover {
    background-image: url('../images/cover.jpg');
    margin-bottom: 180px;
    height: 757px;
}

.lots {
    margin: 0 auto 120px;
    min-height: 723px;
    min-width: 1052px;
}

.about {
    margin: 0 auto 180px;
    min-height: 595px;
    min-width: 1052px;
}

.footer {
  margin-bottom: 0;
  min-height: 180px;
}